<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>방탈출</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img alt="LOGO" src="/image/admin-logo.png" style="height: 40px;">
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/reservation">어드민 예약 페이지</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content-container">
    <h2 class="content-container-title">방탈출 메인 페이지</h2>
</div>
</body>
</html>
